* {
    box-sizing: border-box;
}

body {
    height: 2000px;
    margin: 0;
    background-color: #f6f5f4;
    font-family: "Roboto", sans-serif;
}

header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 40px;
    width: 90%;
    left: calc(49.93055555555558% - 90.20833333333333% / 2);
}

.leftItems {
    align-items: center;
    display: flex;
    height: 56px;
    position: relative;
    width: 100%;
    gap: 10px;
}

.email_copyBtn {
    align-items: center;
    display: flex;
    height: 56px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    background-color: #f1f0ef;
    border-color: rgb(236, 235, 234);
    border-radius: 60px;
    opacity: 1;
    padding-left: 16px;
    padding-right: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.myEmail {
    align-items: center;
    display: flex;
    gap: 16px;
}

.myEmail-address {
    font-size: 12px;
    font-weight: 400;
    color: #242424;
}

.copy-button {
    background-color: #ffffff;
    height: 52px;
    width: 104px;
    border-radius: 60px;
    border-width: 0px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    color: #242424;
    font-family: "Roboto", sans-serif;
}

.CV-linkBackground {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 56px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    background-color: #f1f0ef;
    border-color: rgb(236, 235, 234);
    border-radius: 60px;
    opacity: 1;
    width: 108px;
}

.CV-linkContainer {
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    height: 52px;
    width: 104px;
    border-radius: 60px;
    border-width: 0px;
    cursor: pointer;
}

.CV-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: #242424;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.CV-linkContainer:hover {
    text-decoration: underline;
}

.rightItems {
    align-items: center;
    display: flex;
    height: 56px;
    gap: 10px;
}

.githubLink, .telegramLink, .instagramLink {
    text-decoration: none;
    color: #242424;
    font-size: 16px;
    font-weight: 400;
}

.marqueeContainer {
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    background-color: #ffffff;
    border-width: 1px;
    border-color: #ecebea;
    border-style: solid;
    border-radius: 120px;
    height: 742px;
    position: absolute;
    left: 0%;
    top: 280px;
    width: 100%;
}

.marquee {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    top: 520px;
    padding-left: 0%;
    width: 200%;
}

.marquee ul {
    display: flex;
    animation: marquee 25s linear infinite;
    list-style-type: none;
    gap: 200px;
    padding-left: 0%;
    padding-right: 200px;
    justify-content: space-around;
    width: 100%;
}

.marquee-content {
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.titleAndBtnContainer {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 60px;
    position: relative;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(97.0286deg, rgb(11, 11, 11) 0%, rgba(12, 12, 12, 0.55) 100%, rgba(12, 12, 12, 0.55) 100%);
}

.messageMeContainer {
    align-content: center;
    flex: none;
    position: relative;
    height: 60px;
    width: 180px;
}

.messageMeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    height: 100%;
    width: 100%;
    border-radius: 60px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.messageMeLink:hover {
    text-decoration: underline;
}

.firstScreen {
    z-index: 2;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f6f5f4;
    height: 742px;
    width: 100%;
    border-width: 1px;
    border-color: #ecebea;
    border-style: solid;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

.aboutMe {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    top: 400px;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(97.0286deg, rgb(11, 11, 11) 0%, rgba(12, 12, 12, 0.55) 100%, rgba(12, 12, 12, 0.55) 100%);
}

.roadMapLine {
    background-color: #ecebea;
    height: 1px;
    top: 160px;
    width: 972px;
    position: absolute;
}

.checkpointsConteiner {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 240px;
    width: 80%;
    gap: 80px;
}

.card {
    display: flex;
    flex: none;
    align-items: flex-start;
    column-gap: 20px;
    flex-direction: column;
    width: 183px;
    flex-wrap: nowrap;
}

.checkpointTitle{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.description {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.bottomSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px;
    border-color: #ecebea;
    border-style: solid;
    background-color: #ffffff;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    height: 666px;
    left: 0%;
    position: absolute;
    top: 1676px;
    width: 100%;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 658px;;
}

h3 {
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(97.0286deg, rgb(11, 11, 11) 0%, rgba(12, 12, 12, 0.55) 100%, rgba(12, 12, 12, 0.55) 100%);
}

.contactBtns {
    display: flex;
    gap: 10px;
}

.emailMe {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    height: 60px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    background-color: #f1f0ef;
    border-color: rgb(236, 235, 234);
    border-radius: 60px;
    opacity: 1;
    width: 128px;
}

.telegramMe {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    height: 60px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    background-color: #f1f0ef;
    border-color: rgb(236, 235, 234);
    border-radius: 60px;
    opacity: 1;
    width: 128px;
}

.emailMeLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    height: 100%;
}

.telegramMeLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #242424;
    font-weight: 500;
    font-size: 13px;
    height: 100%;
}

.emailMeLinkBackground {
    background-color: #242424;
    border-radius: 90px;
    width: 120px;
    height: 52px;
    text-align: center;
    align-content: center;
}

.telegramMeLinkBackground {
    background-color: #ffffff;
    border-radius: 90px;
    width: 120px;
    height: 52px;
    text-align: center;
    align-content: center;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 2221px;
    width: 100%;
    gap: 40px;
    flex-wrap: nowrap;
}

.footerLine {
    background-color: #ecebea;
    height: 1px;
    width: 1302px;
    position: relative;
    align-items: center;
    align-content: center;
    display: flex;
}

.copyRights {
    margin: 0;
}

.footerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1302px;
}

.footerRightItems {
    align-items: center;
    display: flex;
    height: 56px;
    gap: 10px;
}

.MyPhoto {
    height: 120px;
    width: 120px;
}